:root {
  --color-primary: #550b98; /* Define la variable de color */
  --color-background-primary: #eee7f5;
  --color-background-generic: #eee7f5;
  --color-generic: #444444;
}

button{
  background-color: var(--color-background-primary);
  border: 0;
  border-radius: 7px;
}

body {
  color: var(--color-generic);
  font-weight: 400;
}

p h1 h2 h3 h4 h5 {
  color: #ffffff;
}

.want-container {
  padding-left: 12px;
  padding-right: 12px;
  background-color: white;
  height: 100;
  width: 100%;
}

.want-border{
  border: 1px solid var(--color-primary);
  border-radius: 7px;
}

.generic-button{
  color: var(--color-generic);
  background-color: var(--color-background-generic);
  padding: 10px;
  border: 0;
}

.want-rounded{
  border-radius: 7px;
}

.want-color{
  color: var(--color-primary);
  border: var(--color-primary);
}

.want-button {
  background-color: var(--color-background-primary)!important;
  color: var(--color-primary);
  font-weight: 400;
  padding: 7px;
}

.close-modal-button {
  background-color: rgba(241, 241, 241, 0.425);
  color: var(--color-generic);
  border-radius: 60px;
  font-size: 30px;
  border: 1px solid var(--color-generic);
  height: 50px;
  width: 50px;
}

@media (max-width: 766px) {
  .want-container {
    padding-left: 0em;
    padding-right: 0em;
  }
}
