body {
  color: #444444;
  font-weight: 400;
}

p h1 h2 h3 h4 h5 {
  color: #ffffff;
}

.want-container {
    padding-left: 12px;
    padding-right: 12px;
    background-color: white;
    height: 100;
    width: 100%;
  }  

.want-button {
  background-color: #3bb305;
  color: white;
  font-weight: 400;
}

.want-button:hover {
  background-color: #3bb305;
  color: white;
  font-weight: 400;
}

@media (max-width: 766px) {
  .want-container {
    padding-left: 0em;
    padding-right: 0em;
  }
}
