:root {
  --color-primary: #38bd76; /* Define la variable de color */
  --color-background-primary: #dfffed;
  --color-background-generic: #ffffff;
  --color-generic: #444444;
}

button{
  background-color: var(--color-background-primary);
  border: 0;
  border-radius: 7px;
}

body {
  color: var(--color-generic)!important;
  font-weight: 600;
}

.post-details:hover{
  color: var(--color-generic);
}

.want-container {
  padding-left: 12px;
  padding-right: 12px;
  background-color: white;
  height: 100;
  width: 100%;
}

.border-selected{
  border: 1px solid var(--color-primary);
}

.want-border{
  border: 1px solid var(--color-primary);
  border-radius: 7px;
}

.generic-button{
  color: var(--color-generic);
  background-color: var(--color-background-generic);
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.164);
  font-weight: 600;
}

.want-rounded{
  border-radius: 7px;
}

.want-color{
  color: var(--color-primary);
  border: var(--color-primary);
}

.want-button {
  background-color: var(--color-background-primary)!important;
  color: var(--color-primary);
  padding: 7px;
  border: 1px solid var(--color-primary);
  font-weight: 600;
}

.close-modal-button {
  background-color: rgba(241, 241, 241, 0.425);
  color: var(--color-generic);
  border-radius: 60px;
  font-size: 30px;
  border: 1px solid var(--color-generic);
  height: 50px;
  width: 50px;
}

.geo-results{
  max-height: 220px!important;
  margin: 0 auto!important;
  overflow: hidden!important;
  white-space: nowrap!important;
}

@media (max-width: 766px) {
  .want-container {
    padding-left: 0em;
    padding-right: 0em;
  }
}
