.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 600px;
    max-width: 1000px;
    padding: 0;
}

.btn-login{
    background-color: var(--color-primary);
    border:none;
    transition: 0.3s;
}

.btn-login:hover{
    background-color: var(--color-primary);
}

.user-link{
    color: var(--color-primary);
    transition: 0.1s;
}
.user-link:hover{
    color: var(--color-primary);
}

.user-link:active{
    color: var(--color-primary);
    box-shadow: 0 0 2px var(--color-primary);
}

.rst-pwd{
    color: var(--color-generic);
    text-decoration: none;
    transition: 0.1s;
}

.rst-pwd:hover{
    color: var(--color-primary);
    text-decoration: underline;
}
