.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 600px;
    max-width: 1000px;
}

.btn-login{
    background-color: #3bb305;
    border:none;
    transition: 0.3s;
}

.btn-login:hover{
    background-color: #3bb305;
}

.user-link{
    color: #3bb305;
    transition: 0.1s;
}
.user-link:hover{
    color: #198678;
}

.user-link:active{
    color: #3bb305;
    box-shadow: 0 0 2px #3bb305;
}

.rst-pwd{
    color: black;
    text-decoration: none;
    transition: 0.1s;
}

.rst-pwd:hover{
    color: #3bb305;
    text-decoration: underline;
}
