.navbar-visible {
  visibility: visible;
  transition: all 0.5s ease;
}

.navbar-hidden {
  visibility: hidden;
  transform: translateY(100%);
  transition: all 0.5s ease;
}

.mobile-menu-text {
  color: var(--color-generic);
  font-size: 10px;
  margin: 0;
}