/* custom-navbar.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

body {
  font-family: 'Roboto', Arial, sans-serif;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 0.6em; /* Ancho de la barra de desplazamiento */
  background-color: white; /* Color de fondo de la barra de desplazamiento */
  border-radius: 50%;
}

body::-webkit-scrollbar-thumb {
  background-color: #f3b34d; /* Color del pulgar de la barra de desplazamiento */
  border-radius: 50px;
}

body::-webkit-scrollbar-track {
  background-color: white; /* Color de la pista de la barra de desplazamiento */
}

.search-bar-input {
  border: 0;
  box-shadow: none;
}

.search-bar-input:focus {
  border: 0;
  box-shadow: none;
}

.search-btn {
  transition: 0.3s ease-in;
  border-radius: 50px;
  background-color: #f3b34d;
  color: white;
  font-weight: 500px;
  transition: 1s;
}

.navbar {
  background-color: white;
}

.search-btn:hover {
  background-color: #ffc445;
  color: white;
  transition: 1s;
}

.btn-post {
  border: 0;
  background-image: linear-gradient(150deg, #f3b34d 0%, #f3b34d 100%);

}

.want-logo {
  border-radius: 30px;
  width: 150px;
  text-align: center;
  align-items: center;
  margin-right: 10px;
}

.createdBy-photo {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.search-bar{
  max-width: 400px;
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.281);
}

@media (max-width: 576px) {
  .search-bar-input {
    font-size: 12px;
    padding: 0;
    margin: 0;
  }
  .search-bar-navbar{
    padding: 0;
  }
}

@media (max-width: 576px) {
  .nav-item{
    text-align: center;
    align-items: center;
  }
  .search-bar-navbar{
    max-width: 230px;
  }

}

@media (max-width: 1000px) {
  .want-logo {
    width: 30px;
    height: 30px;
    margin: 0;
    align-items: center;
    text-align: center;
  }

  .nav-item {
    text-align: left;
    align-items: center;
    color: black;
  }
}

@media (max-width: 360px) {
  .search-bar-navbar{
    max-width: 190px;
  }
}

@media (max-width: 325px) {
  .search-bar-navbar{
    max-width: 140px;
    padding: 0;
    margin: 0;
  }
  .want-logo{
    margin: 0;
    padding: 0;
  }
}







