.offer-btn{
  border: solid 2px  black;
  border-radius: 50px;
}
  
.offer-btn:hover{
  border: solid 2px #4FC68D ;
  background: #4FC68D;
  color:white;
}

.post{
  cursor: pointer;
  overflow: hidden;
  border: solid 1px var(--bs-gray-300);
  transition: 0.3s;
}

.post:hover{
  box-shadow: 0 5px 10px lightgray;
  transform: translateY(-7px);
}

.post-title { 
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  height: 56px; /* Fallback for non-webkit */
  margin: 0 auto;
  line-height: 1.4;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-text { 
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  height: 67.2px; /* Fallback for non-webkit */
  opacity: 1;
  margin: 0 auto;
  line-height: 1.4;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s;
  color: darkgray;
}

.post:hover .post-text{
  opacity: 1;
}

.btn-report{
  background-color: #00000067;
  color: #fff;
  position: absolute;
  top: 15px;
  right: 15px;
  backdrop-filter: blur(2px);
  border: none;
  transition: 0.1s;
  width: 28px;
  height: 28px;
  line-height: 1.7;

}

.btn-report:hover{
  background-color: #dc3546d3;
  box-shadow: 0 0 10px red;
}

.btn-save{
  background-color: #00000067;
  color: #fff;
  position: absolute;
  top: 15px;
  left: 15px;
  backdrop-filter: blur(2px);
  border: none;
  transition: 0.1s;
  width: 28px;
  height: 28px;
  line-height: 1.9      ;

}

.btn-save:hover{
  background-color: #4FC68D;
  box-shadow: 0 0 10px rgb(47, 255, 127);
}