.img-container {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 70%;
  height: 100px;
}

.zoom {
  background-size: 10%;
  background-repeat: no-repeat;
  width: 70%;
  height: 200px;
  position: absolute;
  z-index: 10;
}

.createdBy-photo-id {
  width: 60px;
  height: 60px;
  padding: 0;
  object-fit: cover;
  border-radius: 50%;
  align-items: center;
  text-align: center;
}

.description-container-id {
  max-height: none;
  overflow-y: visible;
}

.btn-offer {
  background-color: #3bb305;
  color: white;
  border: none;
  background-size: cover;
  position: relative;
  
}
