  .close-button-categories {
    margin-left: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .animate__animated {
    animation-duration: 0.3s;
  }
  
  .bi {
    cursor: pointer;
  }
  