.offer-btn{
  border: solid 1px  rgba(0, 0, 0, 0.26);
  border-radius: 50px;
  color: rgba(0, 0, 0, 0.418);
}
  
.offer-btn:hover{
  border: solid 1px  rgb(0, 80, 17);
  color:rgb(4, 126, 0);
}

.post{
  cursor: pointer;
  overflow: hidden;
  border: solid 1px var(--bs-gray-300);
  transition: 0.3s;
}

.post:hover{
  box-shadow: 0 5px 10px lightgray;
}

.post-title { 
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  height: 56px; /* Fallback for non-webkit */
  margin: 0 auto;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-text { 
  display: block; /* Fallback for non-webkit */
  height: 67.2px; /* Fallback for non-webkit */
  opacity: 1;
  margin: 0 auto;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s;
  color: rgb(59, 59, 59);
}

.post:hover .post-text{
  opacity: 1;
}

.btn-report{
  background-color: #00000067;
  color: #fff;
  position: absolute;
  top: 15px;
  right: 10px;
  border: none;
  transition: 0.1s;
  width: 28px;
  height: 28px;
  line-height: 1.3;
  padding: 6px;

}

.btn-report:hover{
  background-color: #dc3546d3;
  box-shadow: 0 0 10px red;
}

.btn-save{
  background-color: #00000067;
  color: #fff;
  position: absolute;
  top: 15px;
  left: 15px;
  border: none;
  transition: 0.1s;
  width: 28px;
  height: 28px;
  line-height: 1.9;

}

.btn-save:hover{
  background-color: #4FC68D;
  box-shadow: 0 0 10px rgb(47, 255, 127);
}

.containerboy{
  min-height: 82vh;
}

.floating-btn-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.carousel-item img{
  object-fit: cover;
  height: 200px;
}
