.separator {
  border-right: 1px solid #ccc;
}

.post-separator {
  border-bottom: 1px solid #ccc;
}

.post-received {
  border-radius: 26px;
  color: 1px solid rgba(0, 0, 0, 0.364);
  border: 1px solid rgba(0, 0, 0, 0.478);
  background-color: white;
  padding: 2em;
  box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.205);
}

.post-received-selected {
  border-radius: 26px 26px 26px 26px;
  border: 1px solid rgb(0, 65, 0);
  background-color: var(--color-background-primary);
  padding: 2em;
}

.post-preview-details{
  max-width: 150px;
}

.img-container {
  position: relative;
}

.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}