.price {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.carousel {
  @mixin hover {
    .carouselControls {
      opacity: 1;
    }
  }
}

.carouselControls {
  transition: opacity 150ms ease;
  opacity: 0;
}

.carouselIndicator {
  width: rem(8px);
  height: rem(4px);
  transition: width 250ms ease;

  &[data-active] {
    width: rem(20px);
  }
}

.HomePostCard {
  cursor: pointer;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.055);
  transition: 300ms;
}

.HomePostCard:hover {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.233);
}
