.carousel {
  @mixin hover {
    .carouselControls {
      opacity: 1;
    }
  }
}

.carouselControls {
  transition: opacity 150ms ease;
  opacity: 0;
}

.carouselIndicator {
  width: rem(8px);
  height: rem(4px);
  transition: width 250ms ease;

  &[data-active] {
    width: rem(20px);
  }
}

.price {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limita el texto a dos líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3.2rem; /* Ajusta esto según el tamaño de la fuente y el espacio entre líneas */
}

.HomePostCard {
  cursor: pointer;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.055);
  transition: 300ms;
}

.HomePostCard:hover {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.233);
}
