.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-search {
  padding: 0.5rem;
  border: 1px solid var(--foreground-color);
  border-radius: var(--border-radius);
  background-color: var(--primary-color-universal);
  color: rgb(var(--foreground-rgb));
  border-radius: var(--border-radius-universal);
}

.navbar-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1px solid var(--border-radius);
  cursor: pointer;
}

.navbar-btn-login {
  background-color: var(--tile-end-rgb);
  color: rgb(var(--foreground-rgb));
}

.navbar-btn-theme {
  background-color: var(--callout-rgb);
  color: rgb(var(--foreground-rgb));
  margin-left: 1rem;
  border: 1px solid var(--foreground-color);
}

.navbar-user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-user-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.navbar-dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  border: 1px solid var(--foreground-color);
  background-color: var(--primary-color-universal);
  border-radius: var(--border-radius-universal);
  width: 150px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: grid;
}

.navbar-dropdown button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 10px 15px;
  background: none;
  border: 0px solid black;
  color: rgb(var(--foreground-rgb));
  border-bottom: 1px solid rgba(var(--foreground-rgb), 0.1);
  cursor: pointer;
  transition: background 0.2s;
}

.navbar-dropdown button:hover {
  background-color: rgba(var(--foreground-rgb), 0.1);
}
